<p>Logged in as : <a href ="/home"><%= current_user.username %></a></p>

<h2>Edit Group <%=@group.name%></h2><br></br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/groups/<%= @group.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Group Name:</label>
  <input type="text" id="group_name" name="group[name]" value="<%= @group.name %>">
  <br></br>
  <input type="submit" value="Update Group Name">
</form>
