<p>Logged in as : <a href ="/home"><%= current_user.username %></a></p>
<h1>Add New Expenses to <%=current_group.name.upcase%></h1>
<br></br>
<form action="/expenses" method="post">
  <label>Add New Expense:</label>
  <input type="text" id="new_expense" name="expenses[name]" placeholder="Description">

  <label>Price: $</label>
  <input type="text" name="expenses[price]" required pattern="\d+.?\d*" placeholder="0.00">

  <input class="submit" type="submit" value="submit">
</form>

<br></br>
  <%if @group.expenses != nil%>
  <h3>Current Expenses:</h3>
    <%@group.expenses.each do |expense|%>
    <li><a href="/expenses/<%=expense.id%>"><%=expense.name%></a>: $<%=('%.2f' % (expense.price)) %></a></li>
    <% end %>
  <% else %>
    <p>There are no expenses at this time</p>
  <% end %>
