<p>Logged in as : <a href ="/home"><%= current_user.username %></a></p>

<h2>Add New Expense to <a href='/groups/<%=current_group.id%>'><%=current_group.name%></a></h2>
<br>

<% if !!flash[:message] %>
  <%= flash[:message] %>
<% end %>
<br>
<form action="/expenses" method="post">
  <label>Expense Name:</label>
  <input type="text" id="new_expense" name="expenses[name]" placeholder="Description">

  <label>Price: $</label>
  <input type="text" name="expenses[price]" pattern="\d+(\.\d{2})?" placeholder="0.00">

  <input class="submit" type="submit" value="submit">
</form>

<br></br>
<h3>Current Expenses:</h3>
  <%if @group.expenses.empty?%>
    <p>There are no expenses at this time</p>
  <% else %>
    <%@group.expenses.each do |expense|%>
      <li><a href="/expenses/<%=expense.id%>"><%=expense.name%></a>: $<%=('%.2f' % (expense.price)) %></a></li>
    <% end %>
  <% end %>
